@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;700&display=swap');


*{
	padding: 0px;
	margin: 0px;
}
body{
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;

}
section{
	padding: 15px 0 15px;
}
.image-center{
	display: block!important;
	margin: 0 auto;
	padding: 15px;
}
.no-padding{
	padding: 0px;
}
.nav-head{
	padding: 25px 0;
}
.nav-link.js-scroll-trigger:active{
	background-color: orange!important;
	padding: 4px 8px;
	border-radius: 5px;
	color: #fff;

}
.nav-link{
	color: grey!important;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50% ;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ffff99;
}



.hero{
	width: 100%!important;
	float: left;
	padding: 25px 0;
}
.home-content{
	text-align: left!important;
	padding-top: 100px;
	background: url(../img/cover.jpg) center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.home-content h2{
   
}
.home-content p{
	color: #acaeb2;
}
.img-home{
	width: 430px!important;
}
.cstm-btn-one{
   background: black;
   color: #fff;
   border-radius: 3px;
   padding: 3px 7px;
   border: none;
   font-size: 14px;
}
.card{
	display: block;
	text-align: center;
	border-radius: 10px;
}
.card-body{
	text-align: center;
}
.card-body-3{
	text-align: center;
}
.card-body p{
	padding-top: 10px;
}
.card-body h5{
	font-weight: bold;
}
.card-body p{
	color: #acaeb2; 
}
.card-body h6{
	font-weight: bold;
	padding: 10px 0;
}
.card-img-top{
	width: 180px;
	padding: 15px 0;
}
.card-con{
	padding: 25px 0;
	text-align: left;
}
.card-con h4{
    font-weight: bold;
}
.card-btn{
	padding: 25px 0;
	text-align: right;
}

.btn-two{
	color: orange;
	background: transparent;
	border-radius: 5px;
	border: none;
}
.foot{
	width: 100%;
	float: left;
	padding: 35px 0 30px;
}
.foot-title{
	display: block!important;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;
}
.foot-title h2{
    font-weight: bold;
}
.foot-title span{
	border-bottom:5px solid orange!important;
	display: block;
	width: 15%;
	margin: 0 auto;

}
.bg{
	text-align: center!important;
	display: block;
	margin: 0 auto;
	top: 121px;
}
.bt{
	text-align: center!important;
	display: block;
	margin: 0 auto;
}
.foot-img{
	display: block!important;
	text-align: right;
}
.img-foot{
	width: 430px!important;
	margin: 0 auto;
	text-align: right;
}
@media (min-width: 0px) and (max-width: 600px){

}
@media (min-width: 600.01px) and (max-width: 768px){
	
}
@media (min-width: 768.01px) and (max-width: 992px){
	
}
@media (min-width: 992.01px) and (max-width: 1200px){
	
}